<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/styles/style_anime.css">
    <title>Tienda de Animaciones</title>
</head>
<body>
    <header> ANIMAESCANDALOSHOP</header>
    <section>
        <div id="bienvenida"> Bienvenid@ a la tienda de animaciones de los escandalosillos </div>
        <div id="grid">
            <!---------------PRIMERA FILA--------------->
            <div id="cuA1">
                <div class="caja_texto"> <div class="precio"> <p> Polar con Hacha <br> $2000.00 </p> </div></div>
                <div class="imagen"><div id="polar_hacha"> <img src="../statics/img/polar_hacha.png" height="200px"> </div></div>
            </div>
            <div id="cuA2">
                <div class="caja_texto"> <div class="precio"> <p> Common Panda <br> $1000.00 </p> </div></div>
                <div class="imagen"><div id="panda_telefono"> <img src="../statics/img/panda_telefono.png" height="220px"> </div></div>
            </div>
            <!---------------SEGUNDA FILA--------------->
            <div id="cuB1">
                <div class="caja_texto"> <div class="precio"> <p> Koala Nom Nom <br> $650.00 </p> </div></div>
                <div class="imagen"><div id="nom_nom"> <img src="../statics/img/nom_nom.png" height="220px"> </div></div>
            </div>
            <div id="cuB2">
                <div class="caja_texto"> <div class="precio"> <p> Pardo con Burrito <br> $1100.00 </p> </div></div>
                <div class="imagen"><div id="pardo_burrito"> <img src="../statics/img/pardo_burrito.png" height="220px"> </div></div>
            </div>
            <!---------------TERCERA FILA--------------->
            <div id="cuC1">
                <div class="caja_texto"> <div class="precio"> <p> Panda enojado <br> $900.00 </p> </div></div>
                <div class="imagen"><div id="panda_enojado"> <img src="../statics/img/panda_enojado.png" height="220px"> </div></div>
            </div>
            <div id="cuC2">
                <div class="caja_texto"> <div class="precio"> <p> Polar.<br> $1800.00 </p> </div></div>
                <div class="imagen"><div id="polar"> <img src="../statics/img/polar.png" height="220px"> </div></div>
            </div>
            <div id="cuC3">
                <div class="caja_texto"> <div class="precio"> <p> Charlie <br> $20.00 </p> </div></div>
                <div class="imagen"><div id="charli"> <img src="../statics/img/charli.png" height="220px"> </div></div>
            </div>
            <!---------------CUARTA FILA--------------->
            <div id="cuD1">
                <div class="caja_texto"> <div class="precio"> <p> Pardo Clasificación AA <br> $1200.00 </p> </div></div>
                <div class="imagen"><div id="pardito"> <img src="../statics/img/pardito.png" height="220px"> </div></div>
            </div>
            <div id="cuD2">
                <div class="caja_texto"> <div class="precio"> <p> Osos <br> $3000.00 </p> </div></div>
                <div class="imagen"><div id="osos"> <img src="../statics/img/osos.png" height="220px"> </div></div>
            </div>
        </div>
    </section>
</body>
</html>