<html>

    <head>
        <title> Yo </title>
    </head>

    <body>
        <font face="MS UI Gothic">
        <br>
        <font size="7" color="#224042"><b> YO </b></font> <br><br>
        <font size="7" color="#224042"><b><i> Soy Ameyalli Aguilar Rojo, pero me pueden decir Ame :) </i></b></font>

        <br><br><br>

        <font size="6" color="#224042"><b> Así me veo </b></font> <br><br>
        <!--mi foto-->
        <td align="center" valign="middle" height="250"> <img src=".\yo.jpeg" width="360"> </td>
        <br><br><br>

        <font size="6" color="#224042"><b> Mis intereses :P </b></font>
        <!--<font size="4">-->
        <p>
        Me interesan muchas cosas, y cambian con el tiempo.
        </p>
        <p> Me gusta mucho la <b>música</b>, y me gustaría aprender a producir. <br> Ya pude hacer mi primer sample, y la verdad 
        siento yo me quedó bastante bien ^^. </p>
        <p> También amo el <b>cine</b>. <br> Me gusta mucho ver películas cuando está lloviendo, son de mis momentos favoritos. <br>
        Me gustaría hacer una serie o película, pero siento que eso es un poco más difícil xd. </p>
        <p> Otra cosa que hago es <b>dibujar</b>. <br> Probablemente de esas tres cosas es de lo que mejor sé hacer, y lo disfruto mucho. </p>
        <p> Fueron 4 párrafos pero mejor que sobre a que falte. </p>
    

        <font size="6" color="#224042"><b> Mis peliculas favoritas </b></font>
        <ol>
            <li> Drive My Car </li>
            <li> Little Miss Sushine </li>
            <li> Your Name </li>
            <li> The Fight Club </li>
            <li> Spirited Away </li>
        </ol>

        <font size="6" color="#224042"><b> Mis comidas favoritas </b></font>
        <ul type="disc">
            <li> Pulpo a la gallega </li>
            <li> Pasta puttanesca </li>
            <li> Tacos de mixiotes </li>
            <li> Salpicón </li>
            <li> Rámen </li>
        </ul>    

        <font size="6" color="#224042"><b> Mi canción favorita </b></font> <br><br>
        <!--mi canción favorita-->
        <a href="https://www.youtube.com/watch?v=ccztRby3FAk"> Car Seat Headrest - "Drunk Drivers/Killer Whales" </a>
        <br> <br> <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ccztRby3FAk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <br><br><br>

        <font size="6" color="#224042"><b> Mis personajes favoritos </b></font> <br><br><br>

        <!--
        tabla de mis personajes favoritos
        con:
        - nombre
        - porque
        - foto
        -->


        <table border="1" cellspacing="0">
            <tr align="center">
                
                <td width="255" height="45"> <b> Nombre </b> </td>
                <td width="350" height="45"> <b> Porque </b> </td>
                <td width="460" height="45"> <b> Foto </b> </td>
                
            </tr>
            <tr align="center">
                <td> <b>Haruhi Fujioka</b> <br> de Ouran High School Host Club </td>
                <td> <p>Es hermosa y linda y amable e inteligente</p> 
                    <p>Haruhi cásate conmigo</p></td>
                <td align="center" valign="middle" height="250"> <img src=".\haruhi.png" width="460"> </td>
            </tr>
            <tr align="center">
                <td> <b>Kel</b> <br> de Omori </td>
                <td> Que lindo que es por dios 
                    <p> Otro personaje ficticio que me gustaría tener en mi vida </p>
                    <p> Es muy atletico y le gusta el basketball </p>
                    <p> Me gusta su corte de pelo </p>
                </td>
                <td align="center" valign="middle" height="250"> <img src=".\kel.png" width="350"> </td>
            </tr>
            <tr align="center">
                <td> <b>Waymond Wang</b> <br> de Everything Everywhere All At Once </td>
                <td> Por el todavía creo en la humanidad 
                    <p> Que lindo ser humano de verdad que sí </p>
                    <p> Pasa desapercibido pero es de los personajes más importantes y significativos de la película </p>
                    <p> La verdad, soy yo </p>
                <td align="center" valign="middle" height="250"> <img src=".\waymond.png" width="430"> </td>
            </tr>
            <tr align="center">
                <td> <b>Kaworu Nagisa</b> <br> de Neon Genesis Evangelion </td>
                <td> Es un ser perfecto literal osea
                    <p> Amo su cabello gris parece un viejito y si le queda por que es muy sabio </p>
                    <p> Quiero que alguien me quiera como el quiere a Shinji </p>
                    <p> Te amo Kaworu </p>
                </td>
                <td align="center" valign="middle" height="250"> <img src=".\kaworu.png" width="285"> </td>
            </tr>
            <tr align="center">
                <td> <b>Mr. Peanutbutter</b> <br> de Bojack Horseman </td>
                <td> No se si quiero estar con él o ser él (no soy furra)
                    <p> Es un labrador y por él me gustan los labradores </p>
                    <p> Es muy carismático y un poco tonto pero tiene buenas intenciones </p>
                    <p> Me gusta mucho como saca su lenguita </p> 
                </td>
                <td align="center" valign="middle" height="250"> <img src=".\mr_peanutbutter.png" width="330"> </td>
            </tr>
            
        </table>

        </font>
    </body>

    <!--comentarioooo-->
</html>